@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Black.eot');
    src: url('Graphik-Black.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Black.woff2') format('woff2'),
        url('Graphik-Black.woff') format('woff'),
        url('Graphik-Black.ttf') format('truetype'),
        url('Graphik-Black.svg#Graphik-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Black_1.eot');
    src: url('Graphik-Black_1.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Black_1.woff2') format('woff2'),
        url('Graphik-Black_1.woff') format('woff'),
        url('Graphik-Black_1.ttf') format('truetype'),
        url('Graphik-Black_1.svg#Graphik-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Black_2.eot');
    src: url('Graphik-Black_2.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Black_2.woff2') format('woff2'),
        url('Graphik-Black_2.woff') format('woff'),
        url('Graphik-Black_2.ttf') format('truetype'),
        url('Graphik-Black_2.svg#Graphik-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Black_3.eot');
    src: url('Graphik-Black_3.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Black_3.woff2') format('woff2'),
        url('Graphik-Black_3.woff') format('woff'),
        url('Graphik-Black_3.ttf') format('truetype'),
        url('Graphik-Black_3.svg#Graphik-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Bold.eot');
    src: url('Graphik-Bold.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Bold.woff2') format('woff2'),
        url('Graphik-Bold.woff') format('woff'),
        url('Graphik-Bold.ttf') format('truetype'),
        url('Graphik-Bold.svg#Graphik-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Bold_1.eot');
    src: url('Graphik-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Bold_1.woff2') format('woff2'),
        url('Graphik-Bold_1.woff') format('woff'),
        url('Graphik-Bold_1.ttf') format('truetype'),
        url('Graphik-Bold_1.svg#Graphik-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Bold_2.eot');
    src: url('Graphik-Bold_2.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Bold_2.woff2') format('woff2'),
        url('Graphik-Bold_2.woff') format('woff'),
        url('Graphik-Bold_2.ttf') format('truetype'),
        url('Graphik-Bold_2.svg#Graphik-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Bold_3.eot');
    src: url('Graphik-Bold_3.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Bold_3.woff2') format('woff2'),
        url('Graphik-Bold_3.woff') format('woff'),
        url('Graphik-Bold_3.ttf') format('truetype'),
        url('Graphik-Bold_3.svg#Graphik-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Extralight.eot');
    src: url('Graphik-Extralight.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Extralight.woff2') format('woff2'),
        url('Graphik-Extralight.woff') format('woff'),
        url('Graphik-Extralight.ttf') format('truetype'),
        url('Graphik-Extralight.svg#Graphik-Extralight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Extralight_1.eot');
    src: url('Graphik-Extralight_1.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Extralight_1.woff2') format('woff2'),
        url('Graphik-Extralight_1.woff') format('woff'),
        url('Graphik-Extralight_1.ttf') format('truetype'),
        url('Graphik-Extralight_1.svg#Graphik-Extralight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Extralight_2.eot');
    src: url('Graphik-Extralight_2.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Extralight_2.woff2') format('woff2'),
        url('Graphik-Extralight_2.woff') format('woff'),
        url('Graphik-Extralight_2.ttf') format('truetype'),
        url('Graphik-Extralight_2.svg#Graphik-Extralight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Extralight_3.eot');
    src: url('Graphik-Extralight_3.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Extralight_3.woff2') format('woff2'),
        url('Graphik-Extralight_3.woff') format('woff'),
        url('Graphik-Extralight_3.ttf') format('truetype'),
        url('Graphik-Extralight_3.svg#Graphik-Extralight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Light.eot');
    src: url('Graphik-Light.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Light.woff2') format('woff2'),
        url('Graphik-Light.woff') format('woff'),
        url('Graphik-Light.ttf') format('truetype'),
        url('Graphik-Light.svg#Graphik-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Light_1.eot');
    src: url('Graphik-Light_1.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Light_1.woff2') format('woff2'),
        url('Graphik-Light_1.woff') format('woff'),
        url('Graphik-Light_1.ttf') format('truetype'),
        url('Graphik-Light_1.svg#Graphik-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Light_2.eot');
    src: url('Graphik-Light_2.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Light_2.woff2') format('woff2'),
        url('Graphik-Light_2.woff') format('woff'),
        url('Graphik-Light_2.ttf') format('truetype'),
        url('Graphik-Light_2.svg#Graphik-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Light_3.eot');
    src: url('Graphik-Light_3.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Light_3.woff2') format('woff2'),
        url('Graphik-Light_3.woff') format('woff'),
        url('Graphik-Light_3.ttf') format('truetype'),
        url('Graphik-Light_3.svg#Graphik-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Medium.eot');
    src: url('Graphik-Medium.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Medium.woff2') format('woff2'),
        url('Graphik-Medium.woff') format('woff'),
        url('Graphik-Medium.ttf') format('truetype'),
        url('Graphik-Medium.svg#Graphik-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Medium_1.eot');
    src: url('Graphik-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Medium_1.woff2') format('woff2'),
        url('Graphik-Medium_1.woff') format('woff'),
        url('Graphik-Medium_1.ttf') format('truetype'),
        url('Graphik-Medium_1.svg#Graphik-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Medium_2.eot');
    src: url('Graphik-Medium_2.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Medium_2.woff2') format('woff2'),
        url('Graphik-Medium_2.woff') format('woff'),
        url('Graphik-Medium_2.ttf') format('truetype'),
        url('Graphik-Medium_2.svg#Graphik-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Medium_3.eot');
    src: url('Graphik-Medium_3.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Medium_3.woff2') format('woff2'),
        url('Graphik-Medium_3.woff') format('woff'),
        url('Graphik-Medium_3.ttf') format('truetype'),
        url('Graphik-Medium_3.svg#Graphik-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Regular.eot');
    src: url('Graphik-Regular.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Regular.woff2') format('woff2'),
        url('Graphik-Regular.woff') format('woff'),
        url('Graphik-Regular.ttf') format('truetype'),
        url('Graphik-Regular.svg#Graphik-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Regular_1.eot');
    src: url('Graphik-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Regular_1.woff2') format('woff2'),
        url('Graphik-Regular_1.woff') format('woff'),
        url('Graphik-Regular_1.ttf') format('truetype'),
        url('Graphik-Regular_1.svg#Graphik-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Regular_2.eot');
    src: url('Graphik-Regular_2.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Regular_2.woff2') format('woff2'),
        url('Graphik-Regular_2.woff') format('woff'),
        url('Graphik-Regular_2.ttf') format('truetype'),
        url('Graphik-Regular_2.svg#Graphik-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Regular_3.eot');
    src: url('Graphik-Regular_3.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Regular_3.woff2') format('woff2'),
        url('Graphik-Regular_3.woff') format('woff'),
        url('Graphik-Regular_3.ttf') format('truetype'),
        url('Graphik-Regular_3.svg#Graphik-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Semibold.eot');
    src: url('Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Semibold.woff2') format('woff2'),
        url('Graphik-Semibold.woff') format('woff'),
        url('Graphik-Semibold.ttf') format('truetype'),
        url('Graphik-Semibold.svg#Graphik-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Semibold_1.eot');
    src: url('Graphik-Semibold_1.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Semibold_1.woff2') format('woff2'),
        url('Graphik-Semibold_1.woff') format('woff'),
        url('Graphik-Semibold_1.ttf') format('truetype'),
        url('Graphik-Semibold_1.svg#Graphik-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Semibold_2.eot');
    src: url('Graphik-Semibold_2.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Semibold_2.woff2') format('woff2'),
        url('Graphik-Semibold_2.woff') format('woff'),
        url('Graphik-Semibold_2.ttf') format('truetype'),
        url('Graphik-Semibold_2.svg#Graphik-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Thin.eot');
    src: url('Graphik-Thin.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Thin.woff2') format('woff2'),
        url('Graphik-Thin.woff') format('woff'),
        url('Graphik-Thin.ttf') format('truetype'),
        url('Graphik-Thin.svg#Graphik-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Semibold_3.eot');
    src: url('Graphik-Semibold_3.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Semibold_3.woff2') format('woff2'),
        url('Graphik-Semibold_3.woff') format('woff'),
        url('Graphik-Semibold_3.ttf') format('truetype'),
        url('Graphik-Semibold_3.svg#Graphik-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Thin_1.eot');
    src: url('Graphik-Thin_1.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Thin_1.woff2') format('woff2'),
        url('Graphik-Thin_1.woff') format('woff'),
        url('Graphik-Thin_1.ttf') format('truetype'),
        url('Graphik-Thin_1.svg#Graphik-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

